* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: #16173d;
  background: -webkit-linear-gradient(212deg, #16173d 20%, #000000 80%);
  background: linear-gradient(212deg, #16173d 20%, #000000 80%);
}
header {
  display: flex;
  padding: 3% 10%;
  justify-content: space-between;
  align-items: center;
  border-bottom: #b1b5c8 1px solid;
}
.title {
  font-size: 30px;
  color: antiquewhite;
}
nav {
  align-content: center;
  padding: 10px;
}
nav a {
  text-decoration: none;
  text-align: center;
  padding: 5px;
  font-size: 14px;
  color: antiquewhite;
}

main {
  padding: 10%;
}

.sectionCotizar {
  padding: 10%;
  border: 1px solid #b1b5c8;
  border-radius: 20px;
  background: rgb(24, 27, 34);
  background: linear-gradient(
    47deg,
    rgba(24, 27, 34, 1) 0%,
    rgba(64, 63, 101, 1) 100%
  );
}

.boxSelect {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.boxCantidad {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}
.boxCantidad label {
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  width: 300px;
  color: white;
}
.boxCantidad input {
  font-size: 20px;
  font-weight: 500;
  height: 30px;
  width: 140px;
  border-radius: 20px;
  border: 1px solid #b1b5c8;
  color: whitesmoke;
  text-align: center;
  background: #747374;
  background: -webkit-linear-gradient(120deg, #747374 0%, #a1a1a1 100%);
  background: linear-gradient(120deg, #747374 0%, #a1a1a1 100%);
}
.buttonCot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
#botonCotizar:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 10px,
    rgba(0, 0, 0, 0.12) 0px -5px 10px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 5px 6px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: 0.5s;
}
#selectCripto {
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  width: 300px;
  color: whitesmoke;
  background: linear-gradient(120deg, #747374 0%, #a1a1a1 100%);
}
.boxSelect p {
  font-size: 25px;
  color: white;
}
#botonCotizar {
  border-radius: 10px;
  font-size: 25px;
  padding: 5px;
  color: whitesmoke;
  border: 1px solid #b1b5c8;
  background: #747374;
  background: -webkit-linear-gradient(120deg, #747374 0%, #a1a1a1 100%);
  background: linear-gradient(120deg, #747374 0%, #a1a1a1 100%);
}

#cancelar {
  width: 50px;
  height: 40px;
  margin-top: 5px;
  border-radius: 10px;
}

#cancelar:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 5px, rgba(0, 0, 0, 0.12) 0px -2px 5px,
    rgba(0, 0, 0, 0.12) 0px 2px 3px, rgba(0, 0, 0, 0.17) 0px 3px 3px,
    rgba(0, 0, 0, 0.09) 0px -3px 3px;
  transition: 0.5s;
}
.option {
  background-color: #a1a1a1;
}
